.vs/
bin/
obj/
packages/
*.DS_Store
*.user
*.log
PublishProfiles
Surfus.Shell/Properties/
publish/
*.user
*.psess
*.vsp
mise.toml
.vscode/
Surfus.Shell.Tests/testserver/testserver
Surfus.Shell.Tests/testserver/testserver.exe
Surfus.Shell.Tests/testserver/server_*.txt
/testserver.exe
/reviews
results/
